---
import Layout from '../../layouts/Layout.astro';
import styles from './article.module.css';

const param = Astro.url.searchParams.get('id') || '';
//const url = 'http://localhost:8080';
const url = 'https://technews-api-ferran.vercel.app';
const response = await fetch(`${url}/api/article?id=${param}`);
const data = await response.json();
---

<Layout title="TechNews">
	<main>
        <a href={data.uri} class={styles.subtitle}>
            <h1>{data.title}</h1>
        </a>
        {data.content.map((item, index) => {
            const imgSrcRegex = /<img.*?src=["'](.*?)["']/;
            const match = item.match(imgSrcRegex);
            let src = match ? match[1] : null;
            
            if (src) {
                src = src.replace('//','https://');
                return <img src={src} class={styles.img}/>;
            } else {
                return <p>{item}</p>;
            }
        })}
        
	</main>
</Layout>
