---
import Layout from '../../layouts/Layout.astro';
import styles from './article.module.css';
import '../index.css';

const param = Astro.url.searchParams.get('id') || '';
//const url = 'http://localhost:8080';
const url = 'https://technews-api-ferran.vercel.app';
let response = await fetch(`${url}/api/article?id=${param}`);
response = await fetch(`${url}/api/article?id=${param}`);
const data = await response.json();
---

<Layout title="TechNews">
	<main class="paddingContent">
        <a href={data.uri} class={styles.subtitle}>
            <h1>{data.title}</h1>
        </a>
        <div class={styles.contentArticle}>
            {data.content.map((item, index) => {
                const imgSrcRegex = /<img.*?src=["'](.*?)["']/;
                const match = item.match(imgSrcRegex);
                let src = match ? match[1] : null;
                
                if (src) {
                    src = src.replace('//elchapuzasinformatico.com','https://elchapuzasinformatico.com');
                    return <img src={src} class={styles.img}/>;
                } else {
                    return <p>{item}</p>;
                }
            })}
        </div>
	</main>
</Layout>
