---
import Layout from '../layouts/Layout.astro';
import styles from './index.module.css';
import News from '../components/News.jsx';
---

<Layout title="TechNews">
	<main>
		<h1 class={styles.title}>Welcome to TechNews</h1>
    	<News client:load/>
		{/*
		<section class={styles.searchButtonsContainer}>
			<button>ElChapuzasInformatico</button>
			<button>ProfesionalReview</button>
			<button>HardZone</button>
		</section>
		<ul>
			{news.map(item => (
			  <li >
          <a href={item.href} class={styles.textArticle}>
            <h2>{item.title}</h2>
            <p>{item.description}</p>
				  </a>
			  </li>
			))}
		  </ul> */}
	</main>
</Layout>